.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.day-header {
  display: flex;
  column-gap: 5px;
  font-size: 1.2rem;
  color: var(--c-text);
}

.day-header.today::after {
  display: block;
  width: 6px;
  height: 6px;
  content: "";
  background-color: var(--c-primary);
  border-radius: 50%;
  transform: translateY(4px);
}

.items {
  margin: 0;
}

.item {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.2rem 0.4rem;
}

.item-name {
  flex: 1 1 auto;
}

.item-actions {
  display: flex;
  column-gap: 0.2rem;
}

.item + .item {
  margin-top: 0.5rem;
}

.completed {
  color: #a1a1a1;
  text-decoration: line-through;
}

.not-now {
  color: #a1a1a1;
}
