.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
}

.day {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.day-header {
  font-size: 1.2rem;
  color: var(--c-text);
}

.items {
  margin: 0;
}

.item {
  display: flex;
  column-gap: 0.5rem;
  justify-content: space-between;
  padding: 0.2rem 0.4rem;
}

.item-actions {
  display: flex;
  column-gap: 0.2rem;
}

.item + .item {
  margin-top: 0.5rem;
}

.completed {
  text-decoration: line-through;
}

.not-now {
  color: #a1a1a1;
}
