.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.day-header {
  display: flex;
  column-gap: 5px;
  font-size: 1.2rem;
  color: var(--c-text);
}

.day-header.today::after {
  display: block;
  width: 6px;
  height: 6px;
  content: "";
  background-color: var(--c-primary);
  border-radius: 50%;
  transform: translateY(4px);
}

.items {
  margin: 0;
}

.items > li {
  list-style-type: none;
}

.items > li.dragging {
  opacity: 0.01;
}

.item {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  padding: 0.2rem 0.4rem;
  background-color: #fff;
  border-radius: 4px;
}

.item-name {
  flex: 1 1 auto;
  padding: 4px;
}

.item-actions {
  display: flex;
  column-gap: 0.4rem;
}

.item + .item {
  margin-top: 0.5rem;
}

.completed {
  color: #a1a1a1;
  text-decoration: line-through;
}

.not-now {
  color: #a1a1a1;
}

.drag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: move;
}

.drag > div {
  width: 100%;
  height: 2px;
  background-color: var(--c-text-secondary);
  border-radius: 2px;
}
